<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="iMuseum.Properties.Settings.ConnectionString" connectionString="Provider=OraOLEDB.Oracle.1;Data Source=xer;Persist Security Info=True;Password=1;User ID=komrazr"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>